{% extends 'base/base.html' %}
{% block head %}<link rel="stylesheet" href="static/css/groupcreate.css"/>{% endblock %}
{% block title %}Edit Event{% endblock %}
{% block content %}
<div id="add_group">
  <div class="container">
    <div id="group-row" class="row">
      <div id="group-column" class="">
        <div id="group-box" class=" container center-block">

          <form id="event-form" class="form" action="" method="post">
            <h3 class="text-left" id="sign-up">Edit Event</h3>
            <div class="form-group">
              <label for="name" class="text-info">Event Name</label><br>
                {{ form.name(id="name", class="form-control") }}
            </div>
            <div class="form-group">
              <label for="tag" class="text-info">Event Date</label><br>
                {{ form.dateTime(id="dateTime", class="form-control") }}
            </div>
            <div class="form-group">
              <label for="description" class="text-info">Description</label><br>
                {{ form.description(id="description", class="form-control") }}
            </div>
            <input type="submit" name="submit" class="btn btn-md center-block si-button" value="Continue">
          </form>
      </div>
  </div>
</div>
</div>
</div>

{% endblock %}
