{% extends "base.html" %}
{% block head %}<link rel="stylesheet" href="static/css/eventpage.css"/>{% endblock %}
{% block title %}Profile{% endblock %}
{% block content %}
  <!-- STATIC SIDE BOX -->
    <div id="static-box">
      <div class="container">
        <h4>Description</h4>
        <div class="row">
          <div class="col-md-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
          </div>
        </div>
        <div class="row">
            
        </div>
      </div>
    </div>
    <!-- END OF BOX -->


    <div class="container">
        <div class="row">
            <div id="event-date" class="col-md-5">
              <p>Wednesday, Feburary 27 2019</p>
              <h3 id="event-title">CSC 330 Study Group </h3>
            </div>
        </div>
        <div class="row">
          <div class="col-md-8">
              <img src="static/images/largeeventpic.png" class="figure-img img-fluid" id="eventpic" />
            </div>
        </div>

        <div class="row">
          <hr class="col-md-6">
        </div>


        <!-- <div class="container"> -->
          <div class="row">
            <h3 class="">Attendees(x)</h3>
            <div class="col-md-6">
              <div class="col-md-3">
                <figure>
                  <img class="prof-img" src="static/images/ProfilePics/susan.png" alt="">
                  <figcaption class="text-center">Susan</figcaption>
                </figure>
              </div>
              <div class="col-md-3">
                <figure>
                  <img class="prof-img" src="static/images/ProfilePics/rick.png" alt="">
                  <figcaption class="text-center">Susan</figcaption>
                </figure>
              </div>
              <div class="col-md-3">
                <figure>
                  <img class="prof-img" src="static/images/ProfilePics/patrick.png" alt="">
                  <figcaption class="text-center">Susan</figcaption>
                </figure>
              </div>
              <div class="col-md-3">
                <figure>
                  <img class="prof-img" src="static/images/ProfilePics/jordan.png" alt="">
                  <figcaption class="text-center">Susan</figcaption>
                </figure>
              </div>
              <div class="col-md-3">
                <figure>
                  <img class="prof-img" src="static/images/ProfilePics/lisa.png" alt="">
                  <figcaption class="text-center">Susan</figcaption>
                </figure>
              </div>
              <div class="col-md-3">
                <figure>
                  <img class="prof-img" src="static/images/ProfilePics/james.png" alt="">
                  <figcaption class="text-center">Susan</figcaption>
                </figure>
              </div>
            </div>
          </div>
        <!-- </div> -->
    </div>
{% endblock %}
